<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Visualization</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/main.css">
    <script src="static/js/mapbox-gl-circle.min.js"></script>
</head>
<style>
    .marker {
        background-image: url('static/images/mapbox-icon.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

    .notiMarker {
        background-image: url('static/images/noti.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

    .helpMarker {
        background-image: url('static/images/help.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }
</style>
<body>

<div id='map'></div>
<div id='console'>
  <h2>Upload a json file to scrub</h2>
  <form action = "/" method = "POST"
     enctype = "multipart/form-data"  style="margin-bottom:20px">
     <input type = "file" name = "file" />
     <input type = "submit"/>
  </form>
  <h2>File name: {{data.filename}}</h2>
  <h2>Route scrubber</h2>
  <input id='slider' class='slider' type='range' min='0' max=0 step='1' value='0' />

</html>
</div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoieW9uZ3N1bmciLCJhIjoiY2l3Z3FkZThnMDB1bjJ6cDkwZHhzdDg3OSJ9.Tbt2yzX6UV2toSVV3Yi-9g';

var taskLat = 42.058334;
var taskLon = -87.683653;

// Important thing here.
var data = JSON.parse('{{ data | tojson | safe}}');

var currentRouteCoordinates;

var prevIndex = "";

currentRouteCoordinates = data.coordinates;

sliderMax = currentRouteCoordinates.length
document.getElementById('slider').max = sliderMax;

var map = new mapboxgl.Map({
  container: 'map',
  style: '../static/json/bright-v8.json',
  // style: 'https://openmaptiles.github.io/osm-bright-gl-style/style-cdn.json',
  center: [taskLon, taskLat],
  zoom: 15
});

// adding a marker for cofee lab
var el = document.createElement('div');
el.className = 'marker';

var marker = new mapboxgl.Marker(el)
.setLngLat([taskLon, taskLat])
.addTo(map);

// Example geojson file
var geojson = {
    "type": "FeatureCollection",
    "features": [{'geometry': {'coordinates': [[-87.635986, 41.925685],
                               [-87.639076, 41.925621],
                               [-87.641437, 41.925589],
                               [-87.64399, 41.92551],
                               [-87.646329, 41.925494],
                               [-87.646286, 41.924903],
                               [-87.646265, 41.924184],
                               [-87.646265, 41.923674],
                               [-87.646243, 41.923179],
                               [-87.646179, 41.921662]],
               'type': 'LineString'},
  'type': 'Feature'}]
};

var colorScheme = {
  '5':'#002f7c',
  '4': '#0254db',
  '3': '#0563ff',
  '2': '#4d8ef9',
  '1': '#9ec2ff',
}

function makeid() {
  // randomly generate an id for each route;

  var text = "";
  var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

  for (var i = 0; i < 5; i++)
    text += possible.charAt(Math.floor(Math.random() * possible.length));

  return text;
}


function addCircle(lat, lon, radius, color) {
  // API documentation for drawing circles on mapbox gl
  // https://www.npmjs.com/package/mapbox-gl-circle

  var circle = new MapboxCircle({lat: lat, lng: lon}, radius, {
        fillOpacity: 0,
        strokeColor: color,
        strokeWeight: 3
    }).addTo(map);
}

// addCircle(taskLat, taskLon, 100, '#fd882d')
// addCircle(taskLat, taskLon, 50, '#43c2c1')

map.on('load', function() {
    document.getElementById('slider').addEventListener('input', function(e) {

      var number = parseInt(e.target.value, 10);

      if (number > 0) {
        if (prevIndex!="") {
          map.removeLayer(prevIndex);
        }
        geojson_zero = {
                    "type": "FeatureCollection",
                    "features": [{
                        "type": "Feature",
                        "geometry": {
                            "type": "LineString",
                            "coordinates": []
                        }
                    }]
                };
        index = makeid();

        for (i = 0; i < number; i++) {
          // console.log(currentRouteCoordinates[i]);
          geojson_zero.features[0].geometry.coordinates.push([currentRouteCoordinates[i][1], currentRouteCoordinates[i][0]]);
        }
        // id = 'line-animation' + index;
        id = index;
        prevIndex = id;

        map.addLayer({
          'id': id,
          'type': 'line',
          'source': {
              'type': 'geojson',
              'data': geojson_zero
          },
          'layout': {
              'line-cap': 'round',
              'line-join': 'round'
          },
          'paint': {
              'line-color': '#ed6498',
              'line-width': 6,
              'line-opacity': 1
          }
        });
      }

    });

});

</script>

</body>
</html>
